* {
    margin: 0;
    padding: 0;
    border: 0;
}

:root {
    --background: #efe7df;
    --primary: #755f78;
    --secondary: #b6783f;
}

@font-face {
    font-family: "britsign";
    src: url("/assets/BrtSign.ttf") format('truetype');
}

body {
    background-color: var(--background);
    overflow: hidden;
}

.test-div {
    background: orange;
    width: 40px;
    height: 40px;
}

.test-div::before {
    content: '';
    background: red;
    display: block;
    width: 10px;
    height: 10px;
}

.wavy-background-1 section {
    opacity: 0;
    /* original */
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%23ffacad' fill-opacity='1' d='M0,0L120,5.3C240,11,480,21,720,21.3C960,21,1200,11,1320,5.3L1440,0L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z'%3E%3C/path%3E%3C/svg%3E");
    /* content: url("data:image/svg+xml,%3Csvg height='100%25' width='100%25' id='svg' viewBox='0 0 1440 700' xmlns='http://www.w3.org/2000/svg' class='transition duration-300 ease-in-out delay-150'%3E%3Cpath d='M 0,700 C 0,700 0,350 0,350 C 296,374 592,398 832,398 C 1072,398 1256,374 1440,350 C 1440,350 1440,700 1440,700 Z' stroke='none' stroke-width='0' fill='%23ffacadff' class='transition-all duration-300 ease-in-out delay-150'%3E%3C/path%3E%3C/svg%3E"); */
    position: absolute;
    z-index: -1;
    bottom: 10vh;
    /* bottom: -22vh; */
    transform: translate(-50%, -25%);
    animation-name: wavy-1-slide;
    animation-delay: 0.75s;
    animation-duration: 0.60s;
    animation-fill-mode: forwards;
}

@keyframes wavy-1-slide {
    to {
        transform: translate(0%, -25%);
        opacity: 1;
    }
}

.wavy-background-2 section {
    opacity: 0;
    content: url("data:image/svg+xml,%3Csvg height='100%25' width='100%25' id='svg' viewBox='0 0 1440 700' xmlns='http://www.w3.org/2000/svg' class='transition duration-300 ease-in-out delay-150'%3E%3Cpath d='M 0,700 C 0,700 0,350 0,350 C 133,300.07142857142856 266,250.14285714285717 375,262 C 484,273.85714285714283 568.9999999999999,347.5 683,361 C 797.0000000000001,374.5 940,327.85714285714283 1071,316 C 1202,304.14285714285717 1321,327.07142857142856 1440,350 C 1440,350 1440,700 1440,700 Z' stroke='none' stroke-width='0' fill='%23ffdea2ff' class='transition-all duration-300 ease-in-out delay-150'%3E%3C/path%3E%3C/svg%3E");
    position: absolute;
    bottom: -20vh;
    transform: translate(50%, -6%);
    animation-name: wavy-2-slide;
    animation-delay: 0.90s;
    animation-duration: 0.30s;
    animation-fill-mode: forwards;
}

@keyframes wavy-2-slide {
    to {
        transform: translate(0% , -6%);
        opacity: 1;
    }
}

#main-img img {
    opacity: 0;
    content: url("/img/suisei-50p.jpg");
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0%);
    animation-name: move-subject;
    animation-duration: 0.90s;
    animation-fill-mode: forwards;
}

@keyframes move-subject {
    to {
        transform: translate(-50%, -70%);
        opacity: 1;
    }
}

#veer-div {
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 49%;
    top: 50%;
    transform: translate(-50%, 0%);
    animation-name: text-slide;
    animation-delay: 1.7s;
    animation-duration: 0.90s;
    animation-fill-mode: forwards;
}

@keyframes text-slide {
    to {
        opacity: 1;
        transform: translate(-50%, 30%);
    }
}

#veer-text {
    font-family: britsign;
    font-size: 5rem;
}

.text-styling {
    /* font-family: 'Great Vibes', cursive; */
    color: var(--primary);
}

#catchphrase-div {
    opacity: 0;
    position: absolute;
    bottom: 0px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 66%);
    animation-name: cp-slide;
    animation-delay: 2.5s;
    animation-duration: 0.90s;
    animation-fill-mode: forwards;
}

@keyframes cp-slide {
    to {
        opacity: 1;
        transform: translate(-50%, 62%);
    }
}

#catchphrase-text {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    color: var(--secondary);
}

.icons-div {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(2, 0.5fr);
    grid-template-rows: 1fr;
    column-gap: 5rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 25%);
    bottom: -2rem;
}

.icons-div a {
    color: var(--primary);
    transition: all, 1s, ease-in, .5s;
}

.icons-div a:hover {
    color: var(--secondary);
    transform: scale(1.5);
}

.icons-div div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#fb-icon {
    opacity: 0;
    position: relative;
    bottom: -1rem;
    animation-name: fb-slide;
    animation-delay: 3s;
    animation-duration: 0.90s;
    animation-fill-mode: forwards;
}

@keyframes fb-slide {
    to {
        opacity: 1;
        bottom: 0rem;
    }
}

#ig-icon {
    opacity: 0;
    position: relative;
    bottom: -1rem;
    animation-name: ig-slide;
    animation-delay: 3.5s;
    animation-duration: 0.90s;
    animation-fill-mode: forwards;
}

@keyframes ig-slide {
    to {
        opacity: 1;
        bottom: 0rem;
    }    
} 

@media only screen and (max-width: 600px) {
    #main-img img {
        content: url("/img/suisei-226.jpg");
    }

    .wavy-background-1 section {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%23ffacad' fill-opacity='1' d='M0,64L34.3,69.3C68.6,75,137,85,206,74.7C274.3,64,343,32,411,58.7C480,85,549,171,617,176C685.7,181,754,107,823,96C891.4,85,960,139,1029,149.3C1097.1,160,1166,128,1234,133.3C1302.9,139,1371,181,1406,202.7L1440,224L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z'%3E%3C/path%3E%3C/svg%3E");
        /* slanting */
        /* content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%23ffacad' fill-opacity='1' d='M0,128L60,138.7C120,149,240,171,360,165.3C480,160,600,128,720,117.3C840,107,960,117,1080,106.7C1200,96,1320,64,1380,48L1440,32L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z'%3E%3C/path%3E%3C/svg%3E"); */
        /* content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%23ffacad' fill-opacity='1' d='M0,32L1440,32L1440,320L0,320Z'%3E%3C/path%3E%3C/svg%3E"); */
        height: 80vh;
    }

    .wavy-background-2 section {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%23ffdea2' fill-opacity='1' d='M0,32L48,32C96,32,192,32,288,58.7C384,85,480,139,576,149.3C672,160,768,128,864,122.7C960,117,1056,139,1152,160C1248,181,1344,203,1392,213.3L1440,224L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z'%3E%3C/path%3E%3C/svg%3E");
        height: 45vh;
        position: absolute;
        bottom: -2.5rem;
    }

    #veer-text {
        font-size: 3.5rem;
        white-space: nowrap;
    }
}
